In [1]:
from tests.test_pipeline_sets import run_set, test_ordered_ingest
from main import run_mpi

In [ ]:
datasets = ['dws_wages', 'usbe_students', 'ushe_students', 'ustc_students']
reports = test_ordered_ingest(datasets=datasets)
reports

In [6]:
r = run_mpi('usbe_students')
r = run_mpi('ustc_students')

{'raw':       BIA  DISABLED  DISPLACEDHOMEMAKER  DWS  ...  U_YEAR      id                 guid                                  mpi
 0       1         0                   1    0  ...    2016   58815  2262322141570781433     794781-16088372-8996122-13898986
 1       1         0                   1    1  ...    2016   12433  2262322141570781433    4523865-15271593-13823652-7894583
 2       0         0                   0    1  ...    2018  130128  2262322141570781433  10888114-13281811-10628687-16738692
 3       1         1                   1    1  ...    2014   59406  2262322141570781433    10005015-8129356-7263873-10823753
 4       1         1                   0    0  ...    2011  139498  2262322141570781433     8068524-10644252-8520941-4483772
 ...   ...       ...                 ...  ...  ...     ...     ...                  ...                                  ...
 9995    1         1                   1    0  ...    2014   69737  2262322141570781433    15691236-12264677-1204870-7271163
 9996    0         0                   1    0  ...    2012  140436  2262322141570781433    11769679-14172654-5272662-3907936
 9997    0         0                   1    1  ...    2012  112983  2262322141570781433   3387807-13730333-13926623-13985726
 9998    1         1                   0    0  ...    2015   87732  2262322141570781433      5272060-1768266-3767457-9010572
 9999    0         1                   1    0  ...    2015  136656  2262322141570781433    16711028-9300320-11285126-1723744

 [10000 rows x 59 columns],
 'subset':      birth_date_pool  first_name_pool gender_pool  ...  middle_name_pool   ssn_pool                 guid
 0           7/3/1940         kailanee           f  ...            yaseen  894062009  2262322141570781433
 1          7/14/2863  chloe catherine           m  ...           natsuki  854093135  2262322141570781433
 2           1/9/2321           aldred           m  ...            ethlyn  793775697  2262322141570781433
 3         11/10/2172           talynn           f  ...              marz  769506080  2262322141570781433
 4          3/17/1643             kaia           n  ...       lucia maria  842372714  2262322141570781433
 ...              ...              ...         ...  ...               ...        ...                  ...
 9995        8/9/2616           pippin           n  ...            barker  934799922  2262322141570781433
 9996      11/17/1261         deidrich           n  ...            atziri  319777563  2262322141570781433
 9997        4/2/1539       rosa isela           m  ...      victor brent  390667438  2262322141570781433
 9998       11/6/2171           tehiry           m  ...              rhee  142527071  2262322141570781433
 9999       1/22/2809           brogen           n  ...     lee alizebeth  831420740  2262322141570781433

 [10000 rows x 8 columns],
 'dview':      birth_date_pool  first_name_pool gender_pool  ...  middle_name_pool   ssn_pool                 guid
 0           7/3/1940         Kailanee           f  ...            Yaseen  894062009  2262322141570781433
 1          7/14/2863  Chloe-Catherine           m  ...           Natsuki  854093135  2262322141570781433
 2           1/9/2321           Aldred           m  ...            Ethlyn  793775697  2262322141570781433
 3         11/10/2172           Talynn           f  ...              Marz  769506080  2262322141570781433
 4          3/17/1643             Kaia           n  ...       Lucia Maria  842372714  2262322141570781433
 ...              ...              ...         ...  ...               ...        ...                  ...
 9995        8/9/2616           Pippin           n  ...            Barker  934799922  2262322141570781433
 9996      11/17/1261         Deidrich           n  ...            Atziri  319777563  2262322141570781433
 9997        4/2/1539       Rosa Isela           m  ...      Victor Brent  390667438  2262322141570781433
 9998       11/6/2171           Tehiry           m  ...              Rhee  142527071  2262322141570781433
 9999       1/22/2809           Brogen           n  ...     Lee Alizebeth  831420740  2262322141570781433

 [10000 rows x 8 columns],
 'iview':      birth_date_pool middle_name_pool gender_pool  ... last_name_pool freq_score                                 mpi
 0           6/9/1256            rhino           f  ...        zegarra        1.0    16200089-1941178-1553510-4504550
 1           9/5/1287    legacy martin           m  ...    vela garcia        1.0    5916117-4126224-15619951-3835351
 2          3/11/1507          katempa           n  ...        garlitz        1.0  14614178-12078307-6356987-12676198
 3          3/11/1898           javien           n  ...         reuter        1.0  16325595-2900151-12664890-13629171
 4           1/5/2380            milam           n  ...     cavalcante        1.0     3668413-9257985-3139660-3204413
 ...              ...              ...         ...  ...            ...        ...                                 ...
 9995        5/3/2727        randall j           m  ...         tzunun        1.0    6205397-1889823-7568854-13160046
 9996       6/18/1650         everhart           m  ...    covarrubias        1.0    1156575-7730329-8358400-14302391
 9997       10/4/1458          mikhail           f  ...          treft        1.0   3431885-12504006-11460729-9218850
 9998       10/9/2082           destry           f  ...     kennington        1.0    5103362-7318233-3332345-13214456
 9999       9/22/1998  waiohinukahawai           n  ...       mcintier        1.0  4630552-15129750-14410429-13162287

 [10000 rows x 7 columns],
 'source_clean':      birth_date_pool  first_name_pool gender_pool  ...   ssn_pool                 guid                                mpi
 0           7/3/1940         kailanee           f  ...  894062009  2262322141570781433                                NaN
 1          7/14/2863  chloe catherine           m  ...  854093135  2262322141570781433                                NaN
 2           1/9/2321           aldred           m  ...  793775697  2262322141570781433                                NaN
 3         11/10/2172           talynn           f  ...  769506080  2262322141570781433                                NaN
 4          3/17/1643             kaia           n  ...  842372714  2262322141570781433                                NaN
 ...              ...              ...         ...  ...        ...                  ...                                ...
 9995        8/9/2616           pippin           n  ...  934799922  2262322141570781433                                NaN
 9996      11/17/1261         deidrich           n  ...  319777563  2262322141570781433                                NaN
 9997        4/2/1539       rosa isela           m  ...  390667438  2262322141570781433                                NaN
 9998       11/6/2171           tehiry           m  ...  142527071  2262322141570781433                                NaN
 9999       1/22/2809           brogen           n  ...  831420740  2262322141570781433  16711028-9300320-11285126-1723744

 [10000 rows x 9 columns],
 'id_clean':      birth_date_pool middle_name_pool gender_pool  ... last_name_pool freq_score                                 mpi
 0           6/9/1256            rhino           f  ...        zegarra        1.0    16200089-1941178-1553510-4504550
 1           9/5/1287    legacy martin           m  ...    vela garcia        1.0    5916117-4126224-15619951-3835351
 2          3/11/1507          katempa           n  ...        garlitz        1.0  14614178-12078307-6356987-12676198
 3          3/11/1898           javien           n  ...         reuter        1.0  16325595-2900151-12664890-13629171
 4           1/5/2380            milam           n  ...     cavalcante        1.0     3668413-9257985-3139660-3204413
 ...              ...              ...         ...  ...            ...        ...                                 ...
 9995        5/3/2727        randall j           m  ...         tzunun        1.0    6205397-1889823-7568854-13160046
 9996       6/18/1650         everhart           m  ...    covarrubias        1.0    1156575-7730329-8358400-14302391
 9997       10/4/1458          mikhail           f  ...          treft        1.0   3431885-12504006-11460729-9218850
 9998       10/9/2082           destry           f  ...     kennington        1.0    5103362-7318233-3332345-13214456
 9999       9/22/1998  waiohinukahawai           n  ...       mcintier        1.0  4630552-15129750-14410429-13162287

 [10000 rows x 7 columns],
 'candidates': MultiIndex([(   0, 2341),
             (   0, 2747),
             (   0, 2925),
             (   0, 6417),
             (   0, 7644),
             (   0, 8182),
             (   0, 9158),
             (   1,  567),
             (   1, 2924),
             (   1, 4035),
             ...
             (9998, 5338),
             (9998, 5982),
             (9998, 6179),
             (9998, 7220),
             (9998, 7475),
             (9999,  154),
             (9999, 2026),
             (9999, 2670),
             (9999, 4254),
             (9999, 9568)],
            length=57055),
 'source_matched':      birth_date_pool gender_pool middle_name_pool  first_name_pool  last_name_pool
 0           7/3/1940           f           yaseen         kailanee        calderon
 1          7/14/2863           m          natsuki  chloe catherine  ortega sanchez
 2           1/9/2321           m           ethlyn           aldred         vailolo
 3         11/10/2172           f             marz           talynn        mustafic
 4          3/17/1643           n      lucia maria             kaia            betz
 ...              ...         ...              ...              ...             ...
 9995        8/9/2616           n           barker           pippin    diaz salgado
 9996      11/17/1261           n           atziri         deidrich        mcintire
 9997        4/2/1539           m     victor brent       rosa isela          grider
 9998       11/6/2171           m             rhee           tehiry          sedivy
 9999       1/22/2809           n    lee alizebeth           brogen       bizimungu

 [10000 rows x 5 columns],
 'comparisons':            gender_pool  middle_name_pool  first_name_pool  last_name_pool
 0    2341          0.0               0.0              1.0             0.0
      2747          1.0               0.0              0.0             0.0
      2925          0.0               0.0              1.0             0.0
      6417          1.0               0.0              1.0             0.0
      7644          0.0               0.0              1.0             1.0
 ...                ...               ...              ...             ...
 9999 154           1.0               1.0              1.0             1.0
      2026          1.0               1.0              0.0             0.0
      2670          0.0               0.0              1.0             0.0
      4254          0.0               1.0              0.0             0.0
      9568          1.0               0.0              1.0             0.0

 [57055 rows x 4 columns],
 'links_true': MultiIndex([(  32, 1419),
             (  41, 2175),
             (  51, 8108),
             (  70, 3991),
             (  84, 9343),
             (  86, 7224),
             (  92, 9742),
             (  93, 1252),
             (  98, 7756),
             ( 102, 6797),
             ...
             (9810, 6135),
             (9828, 6069),
             (9829, 7439),
             (9870, 6435),
             (9887, 7779),
             (9893, 4962),
             (9947, 6294),
             (9958, 4815),
             (9962, 3332),
             (9999,  154)],
            length=648),
 'probabilities': 0     2341    7.497552e-06
       2747    2.460307e-07
       2925    7.497552e-06
       6417    1.038576e-04
       7644    5.062823e-03
                   ...
 9999  154     9.731194e-01
       2026    1.263295e-04
       2670    7.497552e-06
       4254    9.120010e-06
       9568    1.038576e-04
 Length: 57055, dtype: float64,
 'predictions': MultiIndex([(  32, 1419),
             (  41, 2175),
             (  51, 8108),
             (  70, 3991),
             (  84, 9343),
             (  86, 7224),
             (  92, 9742),
             (  93, 1252),
             (  98, 7756),
             ( 102, 6797),
             ...
             (9810, 6135),
             (9828, 6069),
             (9829, 7439),
             (9870, 6435),
             (9887, 7779),
             (9893, 4962),
             (9947, 6294),
             (9958, 4815),
             (9962, 3332),
             (9999,  154)],
            length=649),
 'evaluations': {'rratio': 0.9999870187018702,
  'cmatrix': array([[  648,     0],
         [    1, 56406]])},
 'output':       BIA  DISABLED  DISPLACEDHOMEMAKER  DWS  ...  U_YEAR      id                 guid                                  mpi
 0       1         0                   1    0  ...    2016   58815  2262322141570781433     794781-16088372-8996122-13898986
 1       1         0                   1    1  ...    2016   12433  2262322141570781433    4523865-15271593-13823652-7894583
 2       0         0                   0    1  ...    2018  130128  2262322141570781433  10888114-13281811-10628687-16738692
 3       1         1                   1    1  ...    2014   59406  2262322141570781433    10005015-8129356-7263873-10823753
 4       1         1                   0    0  ...    2011  139498  2262322141570781433     8068524-10644252-8520941-4483772
 ...   ...       ...                 ...  ...  ...     ...     ...                  ...                                  ...
 9995    1         1                   1    0  ...    2014   69737  2262322141570781433    15691236-12264677-1204870-7271163
 9996    0         0                   1    0  ...    2012  140436  2262322141570781433    11769679-14172654-5272662-3907936
 9997    0         0                   1    1  ...    2012  112983  2262322141570781433   3387807-13730333-13926623-13985726
 9998    1         1                   0    0  ...    2015   87732  2262322141570781433      5272060-1768266-3767457-9010572
 9999    0         1                   1    0  ...    2015  136656  2262322141570781433    16711028-9300320-11285126-1723744

 [10000 rows x 59 columns],
 'matched':      birth_date_pool first_name_pool gender_pool  ...   ssn_pool                 guid                                mpi
 32         9/14/1944         asenath           n  ...  286131984  2262322141570781433  10393597-3204630-9718898-16557829
 41         2/25/2262       chantelle           f  ...  808837425  2262322141570781433   13758870-8812195-2948713-1304304
 51         6/25/1952          kaiser           n  ...  436243711  2262322141570781433  14909755-13452787-7327350-6253175
 70          5/1/2745       kearsanna           n  ...  224056531  2262322141570781433    8558873-707680-11738484-6849319
 84         5/26/1277           colby           f  ...  296522058  2262322141570781433    8657766-3299407-1754381-5534839
 ...              ...             ...         ...  ...        ...                  ...                                ...
 9893        1/1/2209           kelbi           m  ...  684232568  2262322141570781433  9329933-5561812-15403619-12333899
 9947        6/2/1856            musa           m  ...  153522239  2262322141570781433   6600061-7959678-4057334-14368033
 9958       2/17/1456            emmy           n  ...  632578066  2262322141570781433  9513395-3526638-12697398-12824273
 9962       2/17/1975        carolyne           f  ...  461741215  2262322141570781433   576938-13586508-5195663-14524453
 9999       1/22/2809          brogen           n  ...  831420740  2262322141570781433  16711028-9300320-11285126-1723744

 [649 rows x 9 columns],
 'unmatched':      birth_date_pool  first_name_pool gender_pool  ...   ssn_pool                 guid                                  mpi
 0           7/3/1940         kailanee           f  ...  894062009  2262322141570781433     794781-16088372-8996122-13898986
 1          7/14/2863  chloe catherine           m  ...  854093135  2262322141570781433    4523865-15271593-13823652-7894583
 2           1/9/2321           aldred           m  ...  793775697  2262322141570781433  10888114-13281811-10628687-16738692
 3         11/10/2172           talynn           f  ...  769506080  2262322141570781433    10005015-8129356-7263873-10823753
 4          3/17/1643             kaia           n  ...  842372714  2262322141570781433     8068524-10644252-8520941-4483772
 ...              ...              ...         ...  ...        ...                  ...                                  ...
 9994        1/4/1724              paw           n  ...  706968504  2262322141570781433  15463554-14467735-16513909-11976321
 9995        8/9/2616           pippin           n  ...  934799922  2262322141570781433    15691236-12264677-1204870-7271163
 9996      11/17/1261         deidrich           n  ...  319777563  2262322141570781433    11769679-14172654-5272662-3907936
 9997        4/2/1539       rosa isela           m  ...  390667438  2262322141570781433   3387807-13730333-13926623-13985726
 9998       11/6/2171           tehiry           m  ...  142527071  2262322141570781433      5272060-1768266-3767457-9010572

 [9351 rows x 9 columns]}

In [5]:
from db.common import clear_databases
clear_databases()